# R intro 1 - Practice 2.3

### 1. Import NAV-D14_DEseq2.csv to a dataframe, sort according to padj

In [1]:
setwd("/Users/yolandatiao/Documents/0_Bioinformatics2017/2018_Bioinformatics/Applied-Bioinformatics-Course/Unit1-module2-R")
nav.d14 <- read.csv("NAV-D14_DEseq2.csv")
head(nav.d14)

  gene.name baseMean   log2FoldChange lfcSE     stat       pvalue
1 TSPAN6     25.256745  1.30246882    0.4166710  3.1258926 1.772662e-03
2 TNMD        0.288508 -0.05077872    0.4875003 -0.1041614 9.170413e-01
3 DPM1      163.507773 -0.05502833    0.2492486 -0.2207769 8.252662e-01
4 SCYL3     296.461713  0.27370099    0.1964251  1.3934117 1.634953e-01
5 C1orf112  199.011986 -1.62012005    0.2833121 -5.7184998 1.070000e-08
6 FGR       122.792530 -5.60936805    0.6378324 -8.7944226 1.440000e-18
  padj
1 8.209295e-03
2           NA
3 9.144493e-01
4 3.312390e-01
5 1.590000e-07
6 7.150000e-17

In [2]:
nav.d14 <- nav.d14[order(nav.d14$padj),]
head(nav.d14)

    gene.name baseMean   log2FoldChange lfcSE     stat      pvalue   padj
469 TNFRSF1B   542.82545 -3.406411      0.2267235 -15.02452 5.07e-51 3.25e-48
394 CD74      2666.66747 -3.133593      0.2146900 -14.59590 2.98e-48 1.54e-45
460 SLAMF7     796.08484 -5.924170      0.4107372 -14.42326 3.69e-47 1.85e-44
298 ANLN        86.61972 -4.292672      0.3590313 -11.95626 6.02e-33 1.02e-30
197 E2F2        56.39916 -5.011194      0.4223203 -11.86586 1.78e-32 2.95e-30
76  SLC25A5    839.58682 -1.630522      0.1549378 -10.52372 6.72e-26 6.58e-24

### 2. Check the first 7 rows and last 8 rows of dataframe. Check the dimensions of the dataframe.

In [3]:
head(nav.d14, n=7)
tail(nav.d14, n=8)
dim(nav.d14)

    gene.name baseMean   log2FoldChange lfcSE     stat      pvalue   padj
469 TNFRSF1B   542.82545 -3.406411      0.2267235 -15.02452 5.07e-51 3.25e-48
394 CD74      2666.66747 -3.133593      0.2146900 -14.59590 2.98e-48 1.54e-45
460 SLAMF7     796.08484 -5.924170      0.4107372 -14.42326 3.69e-47 1.85e-44
298 ANLN        86.61972 -4.292672      0.3590313 -11.95626 6.02e-33 1.02e-30
197 E2F2        56.39916 -5.011194      0.4223203 -11.86586 1.78e-32 2.95e-30
76  SLC25A5    839.58682 -1.630522      0.1549378 -10.52372 6.72e-26 6.58e-24
482 HMGB3       84.36925 -4.387288      0.4200637 -10.44434 1.56e-25 1.45e-23

    gene.name baseMean  log2FoldChange lfcSE     stat       pvalue    padj
370 CLCA1     0.7493588  0.23091544    0.6475585  0.3565939 0.7213958 NA
371 CLCA4     1.6817338  0.39653581    0.7113675  0.5574275 0.5772354 NA
382 ZNF806    0.1578702 -0.11999276    0.4857462 -0.2470277 0.8048868 NA
389 MARCO     0.5402799  0.12559922    0.5751475  0.2183774 0.8271351 NA
393 SNAI2     1.3670266 -0.30391273    0.6481433 -0.4688974 0.6391430 NA
399 CCT8L1P   0.1434554  0.06952303    0.4857462  0.1431262 0.8861905 NA
479 IBSP      0.5011933 -0.10374941    0.5662591 -0.1832190 0.8546262 NA
485 MUSK      1.3780993  0.48417947    0.7300010  0.6632586 0.5071649 NA

[1] 500   7

### 3. Create a self defined function that evaluate p-value, use lappy to apply function to all the pvalues, and use summarize p-value types.

In [4]:
# p-value types
# p > 0.05: n.s.
# 0.05 >= p > 0.01: *
# 0.01 >= p > 0.001: **
# 0.001 >= p > 0.0001: ***
# 0.0001 >= p: ****
pType <- function(p.val) {
    if (is.na(p.val)) {
        return(NA)
    }
    else if(p.val > 0.05) {
        return("n.s.")
    }
    else if(p.val > 0.01) {
        return("*")
    }
    else if(p.val > 0.001) {
        return("**")
    }
    else if(p.val > 0.0001) {
        return("***")
    }
    else {
        return("****")
    }
}

In [5]:
nav.d14.ptype <- lapply(nav.d14$pvalue, pType)
nav.d14.ptype <- factor(unlist(nav.d14.ptype))
summary(nav.d14.ptype)

   *   **  *** **** n.s. NA's
  37   34   25   93  306    5

### 4. Add list of p-value type to dataframe, subset dataframe to exclude p-value that is not significant, and write the dataframe into a csv file.

In [7]:
nav.d14 <- cbind(nav.d14, nav.d14.ptype)
head(nav.d14)

    gene.name baseMean   log2FoldChange lfcSE     stat      pvalue   padj
469 TNFRSF1B   542.82545 -3.406411      0.2267235 -15.02452 5.07e-51 3.25e-48
394 CD74      2666.66747 -3.133593      0.2146900 -14.59590 2.98e-48 1.54e-45
460 SLAMF7     796.08484 -5.924170      0.4107372 -14.42326 3.69e-47 1.85e-44
298 ANLN        86.61972 -4.292672      0.3590313 -11.95626 6.02e-33 1.02e-30
197 E2F2        56.39916 -5.011194      0.4223203 -11.86586 1.78e-32 2.95e-30
76  SLC25A5    839.58682 -1.630522      0.1549378 -10.52372 6.72e-26 6.58e-24
    nav.d14.ptype
469 ****
394 ****
460 ****
298 ****
197 ****
76  ****

In [9]:
nav.d14.sig <- subset(nav.d14, nav.d14.ptype != "n.s.")
dim(nav.d14)
dim(nav.d14.sig)

[1] 500   8

[1] 189   8

In [10]:
write.table(nav.d14.sig, row.names=FALSE, "nav.d14.sig.csv", sep=",")