# R intro
Huitian Diao
* Reference: 
* Quick-R by DataCamp
* R for Beginners by emmanuel Paradis

## R syntax

### 1. Value assignment and function

In [1]:
my.string <- "Hello, world!"

In [2]:
print(my.string)

[1] "Hello, world!"

* Exercise: make R print your name

In [3]:
my.name <- "Roger Tu"
print(my.name)

[1] "Roger Tu"

### 2. Comments

In [4]:
print("Hello Apple!")

[1] "Hello Apple!"

In [5]:
#print("Hello Banana?")

In [6]:
print ("Hello Cranberry!") #Cranberry is delicious

[1] "Hello Cranberry!"

### 3. Working directory

In [7]:
getwd()

[1] "/home/rtu/Applied-Bioinformatics/Applied-Bioinformatics-HW/Unit1-module2-R"

In [8]:
setwd('/home/rtu/Applied-Bioinformatics/Applied-Bioinformatics-HW/Unit1-module2-R')
getwd()

[1] "/home/rtu/Applied-Bioinformatics/Applied-Bioinformatics-HW/Unit1-module2-R"

In [9]:
list.files()

[1] "NAV-D14_DEseq2.csv" "NAV-MEM_DEseq2.csv" "ppg2008.csv"
[4] "R-1.pptx"           "R.intro.1.ipynb"    "R.intro.1.pdf"
[7] "R.intro.2.ipynb"

In [11]:
R.Version()

$platform
[1] "x86_64-pc-linux-gnu"

$arch
[1] "x86_64"

$os
[1] "linux-gnu"

$system
[1] "x86_64, linux-gnu"

$status
[1] ""

$major
[1] "3"

$minor
[1] "5.1"

$year
[1] "2018"

$month
[1] "07"

$day
[1] "02"

$`svn rev`
[1] "74947"

$language
[1] "R"

$version.string
[1] "R version 3.5.1 (2018-07-02)"

$nickname
[1] "Feather Spray"

In [10]:
help("print") # And also google...

## Data in R

### 1. Objects: name, content and attribute

In [10]:
my.string <- "foo"
my.number <- 888
my.logic <- TRUE
my.vector <- c(1, 2, 3)

In [11]:
mode(my.string)
mode(my.number)
mode(my.logic)
mode(my.vector)

[1] "character"

[1] "numeric"

[1] "logical"

[1] "numeric"

### 2. Data types

#### 2.1 Vectors: a sequence of data elements of the same basic type. Members in a vector are called components.

In [12]:
my.numbers <- c(1,2,3)
my.fruits <- c("Apple","Banana","Cranberry")
my.logic <- c(TRUE,FALSE,TRUE)

In [13]:
mode(my.numbers)
mode(my.fruits)
mode(my.logic)

[1] "numeric"

[1] "character"

[1] "logical"

In [14]:
my.vector <- c(1,2,"a",FALSE)
mode(my.vector) # All the elements are considered to be characters, to keep the consistency of data typein the vector

[1] "character"

In [15]:
my.logic[1] # Retrive one element
my.fruits[c(1,3)] # Retrive multiple element
my.numbers[c(1,2)] # Keep in mind that in R the number of elements start with 1, not 0!!!

[1] TRUE

[1] "Apple"     "Cranberry"

[1] 1 2

In [16]:
new.vector <- c(my.numbers, my.fruits) # Combining vectors
new.vector # Again, all the elements became characters

[1] "1"         "2"         "3"         "Apple"     "Banana"    "Cranberry"

In [13]:
character.vec <- c("a","b","c","d","e")
number.vec <- c(1,2,3,4,5,6)
character.vec
number.vec

[1] "a" "b" "c" "d" "e"

[1] 1 2 3 4 5 6

#### 2.2 Matrix: elements arranged in a two-dimensional rectangular layout. Elements in matrix are the same type.

In [17]:
my.matrix <- matrix(1:20, nrow=5, ncol=4) # Simple initialization of a numeric matrix
my.matrix

     [,1] [,2] [,3] [,4]
[1,] 1     6   11   16
[2,] 2     7   12   17
[3,] 3     8   13   18
[4,] 4     9   14   19
[5,] 5    10   15   20

In [18]:
my.fruits <- c("Apple","Bananna","Cranberry","Durian")
row.names <- c("Row1", "Row2")
column.names <- c("ColA", "ColB")
# Create a matrix from a vector, and add names for the dimensions
my.fruits.matrix <- matrix(my.fruits, nrow=2, ncol=2, byrow=TRUE, dimnames=list(row.names, column.names)) 
my.fruits.matrix

     ColA      ColB
Row1 Apple     Bananna
Row2 Cranberry Durian

#### 2.3 Array: like matrices but can store more than 2 dimensions.

In [19]:
vector.1 <- seq(0,26,by=1) # Create a vector of numbers from 0 to 26.
column.names <- c("ColA","ColB","ColC") # A vector for the column names
row.names <- c("Row1","Row2","Row3") # A vector for row names
matrix.names <- c("theMatrix","theMatrixReloaded","theMatrixRevolutions") # A vector for matrix names (third dimension)
# Create an array from vector
array.1 <- array(vector.1, dim=c(3,3,3), dimnames=list(row.names,column.names,matrix.names))
print(array.1)

, , theMatrix

     ColA ColB ColC
Row1    0    3    6
Row2    1    4    7
Row3    2    5    8

, , theMatrixReloaded

     ColA ColB ColC
Row1    9   12   15
Row2   10   13   16
Row3   11   14   17

, , theMatrixRevolutions

     ColA ColB ColC
Row1   18   21   24
Row2   19   22   25
Row3   20   23   26

#### 2.4 Data Frames: like matrices, but different columns can have different modes.

In [20]:
fruits.type <- c("Apple","Bananna","Cranberry","Durian")
fruits.numbers <- c(10,20,100,4)
fruits.price <- c(5,10,15,20)
fruits.smell <- c(FALSE, FALSE, FALSE, TRUE)
# Create a data frame from vectors
df.fruits <- data.frame(fruits.type, fruits.numbers, fruits.price, fruits.smell)
df.fruits

  fruits.type fruits.numbers fruits.price fruits.smell
1 Apple        10             5           FALSE
2 Bananna      20            10           FALSE
3 Cranberry   100            15           FALSE
4 Durian        4            20            TRUE

In [21]:
names(df.fruits) <- c("Type","Number","Price","Smell") # Rename columns
df.fruits

  Type      Number Price Smell
1 Apple      10     5    FALSE
2 Bananna    20    10    FALSE
3 Cranberry 100    15    FALSE
4 Durian      4    20     TRUE

In [22]:
row.names(df.fruits) <- c("row1", "row2", "row3", "row4") # Rename rows
df.fruits

     Type      Number Price Smell
row1 Apple      10     5    FALSE
row2 Bananna    20    10    FALSE
row3 Cranberry 100    15    FALSE
row4 Durian      4    20     TRUE

In [23]:
df.fruits[c("Type","Price")] # Extract columns with IDs "Type" and "Price"

     Type      Price
row1 Apple      5
row2 Bananna   10
row3 Cranberry 15
row4 Durian    20

In [24]:
df.fruits[1:2] # Extract columns 1-2 of data frame

     Type      Number
row1 Apple      10
row2 Bananna    20
row3 Cranberry 100
row4 Durian      4

In [25]:
df.fruits$Type # Extract "Type" from data frame

[1] Apple     Bananna   Cranberry Durian
Levels: Apple Bananna Cranberry Durian

In [26]:
df.emp <- data.frame(matrix(ncol = 10, nrow = 5)) # Initializing an empty dataframe with matrix
df.emp

  X1 X2 X3 X4 X5 X6 X7 X8 X9 X10
1 NA NA NA NA NA NA NA NA NA NA
2 NA NA NA NA NA NA NA NA NA NA
3 NA NA NA NA NA NA NA NA NA NA
4 NA NA NA NA NA NA NA NA NA NA
5 NA NA NA NA NA NA NA NA NA NA

#### 2.5 List: an ordered collection of objects. A list allows you to gather a variety of objects.

In [27]:
nutella.favorite <- c("chocolate", "peanut", "cheese")
nutella.matrix <- matrix(1:20, nrow=5, ncol=4)
# Create list with different types of data
nutella.info <- list(my.name="Nutella", my.species="Mus.Musculus", my.age=0.2, my.color="Brown", 
                my.favorite=nutella.favorite, my.matrix=nutella.matrix)
nutella.info

$my.name
[1] "Nutella"

$my.species
[1] "Mus.Musculus"

$my.age
[1] 0.2

$my.color
[1] "Brown"

$my.favorite
[1] "chocolate" "peanut"    "cheese"

$my.matrix
     [,1] [,2] [,3] [,4]
[1,]    1    6   11   16
[2,]    2    7   12   17
[3,]    3    8   13   18
[4,]    4    9   14   19
[5,]    5   10   15   20

#### 2.6 Factors: a nominal variable

In [28]:
gender <- c(rep("male",20), rep("female", 30)) 
summary(gender)

   Length     Class      Mode
       50 character character

In [29]:
gender <- factor(gender) # Convert the vector's data type to factor, and then summary()
summary(gender)

female   male
    30     20

#### 2.7 Data type conversion

In [30]:
my.numbers <- c("1","2","3","4")
class(my.numbers)
my.numbers <- as.numeric(my.numbers)
class(my.numbers)

[1] "character"

[1] "numeric"

In [31]:
my.logic <- c(TRUE, TRUE, FALSE)
class(my.logic)
my.logic <- as.character(my.logic)
class(my.logic)

[1] "logical"

[1] "character"

### 3. Basic functions for objects

In [32]:
class(nutella.info) # Type of object

[1] "list"

In [33]:
names(nutella.info) # Names

[1] "my.name"     "my.species"  "my.age"      "my.color"    "my.favorite"
[6] "my.matrix"

In [34]:
str(nutella.info) # Structure of an object

List of 6
 $ my.name    : chr "Nutella"
 $ my.species : chr "Mus.Musculus"
 $ my.age     : num 0.2
 $ my.color   : chr "Brown"
 $ my.favorite: chr [1:3] "chocolate" "peanut" "cheese"
 $ my.matrix  : int [1:5, 1:4] 1 2 3 4 5 6 7 8 9 10 ...

In [35]:
length(nutella.info) # Number of elements

[1] 6

In [36]:
ls() # List current objects

 [1] "array.1"          "column.names"     "df.emp"           "df.fruits"
 [5] "fruits.numbers"   "fruits.price"     "fruits.smell"     "fruits.type"
 [9] "gender"           "matrix.names"     "my.fruits"        "my.fruits.matrix"
[13] "my.logic"         "my.matrix"        "my.number"        "my.numbers"
[17] "my.string"        "my.vector"        "new.vector"       "nutella.favorite"
[21] "nutella.info"     "nutella.matrix"   "row.names"        "vector.1"

In [37]:
rm(nutella.info) # Delete a object
ls()

 [1] "array.1"          "column.names"     "df.emp"           "df.fruits"
 [5] "fruits.numbers"   "fruits.price"     "fruits.smell"     "fruits.type"
 [9] "gender"           "matrix.names"     "my.fruits"        "my.fruits.matrix"
[13] "my.logic"         "my.matrix"        "my.number"        "my.numbers"
[17] "my.string"        "my.vector"        "new.vector"       "nutella.favorite"
[21] "nutella.matrix"   "row.names"        "vector.1"

## Basic data operations

### 1. Operators

#### 1.1 Arithemetic operators

In [38]:
x <- 2
y <- 3
x+y
x-y
x*y
x/y
x**y # exponentiation
x%%y # modulus
x%/%y # integer division

[1] 5

[1] -1

[1] 6

[1] 0.6666667

[1] 8

[1] 2

[1] 0

#### 1.2 Logical operators

In [39]:
x <- 5
y <- 11
x < y
x > y
x <= y
x >= y
x == y
x != y

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

[1] FALSE

[1] TRUE

In [40]:
like.chocolate <- TRUE
like.spam <- FALSE
!like.chocolate
like.chocolate | like.spam
like.chocolate & like.spam
isTRUE(like.spam)

[1] FALSE

[1] TRUE

[1] FALSE

[1] FALSE

#### 1.3 Built-in functions

In [41]:
x <- -16
y <- 1.239
z <- -2.251
abs(x)
sqrt(-x)
ceiling(y)
floor(z)
trunc(z)
round(y, digits=2)
signif(y, digits=2)
cos(x)
sin(x)
tan(x)
log(y)
log10(y)
exp(x)

[1] 16

[1] 4

[1] 2

[1] -3

[1] -2

[1] 1.24

[1] 1.2

[1] -0.9576595

[1] 0.2879033

[1] -0.3006322

[1] 0.2143046

[1] 0.09307131

[1] 1.125352e-07

In [42]:
my.name <- "Nutella"
my.fav <- c("chocolate", "peanut", "cheese")
my.motto <- "I love chocolate. --Nutella"

In [43]:
substr(my.name, start=1, stop=5) # Extract part of the string

[1] "Nutel"

In [46]:
grep("cheese", my.fav) # Search for pattern (It is different from Bash Grep!!!!!!)

[1] 3

In [47]:
sub( "chocolate","cheese", my.motto) # Replace pattern

[1] "I love cheese. --Nutella"

In [48]:
strsplit(my.motto, " ") # Split elements

[[1]]
[1] "I"          "love"       "chocolate." "--Nutella"

In [49]:
paste(1:3, my.fav, sep=": ") # Concatenate strings

[1] "1: chocolate" "2: peanut"    "3: cheese"

In [50]:
toupper(my.motto)

[1] "I LOVE CHOCOLATE. --NUTELLA"

In [51]:
tolower(my.motto)

[1] "i love chocolate. --nutella"

### 2. Control structures

#### 2.1 if-else

In [52]:
like.peanut <- TRUE
if (like.peanut){
    print("I like peanuts!")
} else {
    print("What do I like?")
}

[1] "I like peanuts!"

In [56]:
like.hay <- FALSE
like.cotton <- TRUE
if (like.hay){
    print("I like to build my nest with hay!")
} else if (like.cotton){
    print("I like to build my nest with cotton!")
} else {
    print("Ummm.... what should I use...?")
}

[1] "I like to build my nest with cotton!"

#### 2.2 for

In [18]:
for (i in c(1:10)) {
    print("More chocolate please!")
}

[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"

In [61]:
my.fav <- c("chocolate", "peanut", "cheese")
for (i in my.fav) {
    out.put <- paste("More", i, "please!") # Paste 3 elements into a single string
    print(out.put)
}

[1] "More chocolate please!"
[1] "More peanut please!"
[1] "More cheese please!"

#### 2.3 while

In [62]:
i <- 0
while (i < 10) {
    print("More chocolate please!")
    i <- i+1 # Super important! Or your while loop will never end...
}

[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"
[1] "More chocolate please!"

In [20]:
#Practice 2.2.2
counter <- 0
divisiblebythree <- 0
while (counter < 101){
    counter <- counter + 1
    if (counter %% 3 == 0){
        divisiblebythree <- divisiblebythree + 1}
}
divisiblebythree

[1] 33

In [35]:
#Practice 2.2.3
enough.food <- c("perfect","more than enough","too little")
true.false <-c(TRUE,FALSE)
weightof.food <-c(7,3,5,6,10,5,6)

for (i in weightof.food){
    out.put <-paste ("Is ",i,"lb enough rat food?", sep = "")
    print (out.put)
    if (i<5){
        print (enough.food[3])}
    if (i==5){
        print (enough.food[1])
    }
    else {
        print (enough.food[2])
    }
}

[1] "Is 7lb enough rat food?"
[1] "more than enough"
[1] "Is 3lb enough rat food?"
[1] "too little"
[1] "more than enough"
[1] "Is 5lb enough rat food?"
[1] "perfect"
[1] "Is 6lb enough rat food?"
[1] "more than enough"
[1] "Is 10lb enough rat food?"
[1] "more than enough"
[1] "Is 5lb enough rat food?"
[1] "perfect"
[1] "Is 6lb enough rat food?"
[1] "more than enough"

## Homework

## 1. Hello world everyday!
### 1.1 Make a vector containing days of the week, from Monday to Sunday.
### 1.2 Use a for loop to pring "Hello world XXXday!" for each day of the week.

In [12]:
week.days <- c("Mon","Tues","Wednes","Thurs","Fri", "Satur", "Sun")
week.days

for (i in week.days){
    out.put <- paste ("Hello world ", i, "day!", sep ="")
    print(out.put)
    #print (i)
}

[1] "Mon"    "Tues"   "Wednes" "Thurs"  "Fri"    "Satur"  "Sun"

[1] "Hello world Monday!"
[1] "Hello world Tuesday!"
[1] "Hello world Wednesday!"
[1] "Hello world Thursday!"
[1] "Hello world Friday!"
[1] "Hello world Saturday!"
[1] "Hello world Sunday!"

## 2. The Pie
### 2.1 In the first 100 digits of pie, count how many numbers are even. 
### 2.2 Convert the first 200 digits of pie into a 20x10 matrix

In [43]:
#2.1 How many numbers are even in the first 100 digits of pie.
pii <- "1415926535897932384626433832795028841971693993751058209749445923078164062862089986280348253421170679"
split.pii <- as.numeric(strsplit(as.character(pii),"")[[1]])
split.pii

sum(split.pii%%2==0)

#Can do a for loop over a list
#But because its R is vector based you can just turn it Logical and sum the 0's or 100-sum(of 1's)

  [1] 1 4 1 5 9 2 6 5 3 5 8 9 7 9 3 2 3 8 4 6 2 6 4 3 3 8 3 2 7 9 5 0 2 8 8 4 1
 [38] 9 7 1 6 9 3 9 9 3 7 5 1 0 5 8 2 0 9 7 4 9 4 4 5 9 2 3 0 7 8 1 6 4 0 6 2 8
 [75] 6 2 0 8 9 9 8 6 2 8 0 3 4 8 2 5 3 4 2 1 1 7 0 6 7 9

[1] 51

In [51]:
#2.2 Convert the first 200 digits of pie into a 20x10 matrix
pii <- "14159265358979323846264338327950288419716939937510582097494459230781640628620899862803482534211706798214808651328230664709384460955058223172535940812848111745028410270193852110555964462294895493038196"
split.pii <-as.numeric(strsplit(as.character(pii),"")[[1]])

pii.matrix <- matrix(split.pii, nrow = 10, ncol = 20) #realistically don't need both row/column because you know you have 200 outputs.
pii.matrix

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13]
 [1,] 1    8    2    5    6    5    5    0    8    3     8     3     0
 [2,] 4    9    6    0    9    8    9    6    6    4     2     2     9
 [3,] 1    7    4    2    3    2    2    2    2    2     1     8     3
 [4,] 5    9    3    8    9    0    3    8    8    1     4     2     8
 [5,] 9    3    3    8    9    9    0    6    0    1     8     3     4
 [6,] 2    2    8    4    3    7    7    2    3    7     0     0     4
 [7,] 6    3    3    1    7    4    8    0    4    0     8     6     6
 [8,] 5    8    2    9    5    9    1    8    8    6     6     6     0
 [9,] 3    4    7    7    1    4    6    9    2    7     5     4     9
[10,] 5    6    9    1    0    4    4    9    5    9     1     7     5
      [,14] [,15] [,16] [,17] [,18] [,19] [,20]
 [1,] 5     5     4     8     8     6     5
 [2,] 0     3     8     4     5     4     4
 [3,] 5     5     1     1     2     4     9
 [4,] 8     9     1     0     1     6     3
 [5,] 2     4     1     2     1     2     0
 [6,] 2     0     7     7     0     2     3
 [7,] 3     8     4     0     5     9     8
 [8,] 1     1     5     1     5     4     1
 [9,] 7     2     0     9     5     8     9
[10,] 2     8     2     3     9     9     6

## 3. Install Swirl,  do "R programming" and "Data analysis"
https://swirlstats.com/students.html Do it as you like!