# R intro
Huitian Diao
* Reference: 
* Quick-R by DataCamp
* R for Beginners by emmanuel Paradis

## More on data operations

### 1. Import data

In [2]:
setwd("/Users/yolandatiao/Documents/0_Bioinformatics2017/2018_Bioinformatics/Applied-Bioinformatics-Course/Unit1-module2-R")
nav.d14 <- read.csv("NAV-D14_DEseq2.csv", header=TRUE)
class(nav.d14)

[1] "data.frame"

### 2. View data

In [3]:
str(nav.d14)
dim(nav.d14)
head(nav.d14, n=5)
tail(nav.d14, n=10)
#levels() # List levels of factor

'data.frame':	500 obs. of  7 variables:
 $ gene.name     : Factor w/ 500 levels "AASS","ABCB4",..: 452 448 137 380 58 159 92 164 171 284 ...
 $ baseMean      : num  25.257 0.289 163.508 296.462 199.012 ...
 $ log2FoldChange: num  1.3025 -0.0508 -0.055 0.2737 -1.6201 ...
 $ lfcSE         : num  0.417 0.488 0.249 0.196 0.283 ...
 $ stat          : num  3.126 -0.104 -0.221 1.393 -5.718 ...
 $ pvalue        : num  1.77e-03 9.17e-01 8.25e-01 1.63e-01 1.07e-08 ...
 $ padj          : num  8.21e-03 NA 9.14e-01 3.31e-01 1.59e-07 ...

[1] 500   7

  gene.name baseMean   log2FoldChange lfcSE     stat       pvalue
1 TSPAN6     25.256745  1.30246882    0.4166710  3.1258926 0.0017726620
2 TNMD        0.288508 -0.05077872    0.4875003 -0.1041614 0.9170412620
3 DPM1      163.507773 -0.05502833    0.2492486 -0.2207769 0.8252661650
4 SCYL3     296.461713  0.27370099    0.1964251  1.3934117 0.1634953240
5 C1orf112  199.011986 -1.62012005    0.2833121 -5.7184998 0.0000000107
  padj
1 0.008209295
2          NA
3 0.914449315
4 0.331239000
5 0.000000159

    gene.name baseMean   log2FoldChange lfcSE     stat       pvalue
491 SARS       383.40062 -0.01094582    0.1850942 -0.0591365 0.95284338
492 RANBP3     379.84288  0.08522877    0.1708371  0.4988890 0.61785761
493 ARID4A    1435.32399  0.04869732    0.1904170  0.2557404 0.79815131
494 EIPR1       87.86504 -0.95503525    0.2356304 -4.0531067 0.00005050
495 PNPLA6     146.41751 -0.14635328    0.2900234 -0.5046257 0.61382175
496 IFT88      111.71539  0.60100567    0.3082850  1.9495130 0.05123419
497 ALG1        72.37193  0.33922670    0.2449200  1.3850512 0.16603683
498 ZCCHC8     270.00278 -0.22916478    0.1966266 -1.1654819 0.24382397
499 ABCF2      288.47676  0.10264088    0.2711067  0.3785995 0.70498528
500 CHPF2      171.74016 -0.07133449    0.2608077 -0.2735138 0.78445831
    padj
491 0.979777765
492 0.784887312
493 0.901071201
494 0.000358293
495 0.782170557
496 0.136193820
497 0.335217676
498 0.441891441
499 0.845654432
500 0.893661075

### 3. Subsetting / Merging data

In [22]:
nav.d14.sub <- nav.d14[c("gene.name", "log2FoldChange", "pvalue")] # Subsetting by column names

In [23]:
nav.d14.sub <- cbind(nav.d14.sub, nav.d14["baseMean"]) # Merging columns
head(nav.d14.sub)

  gene.name log2FoldChange pvalue       baseMean
1 TSPAN6     1.30246882    1.772662e-03  25.256745
2 TNMD      -0.05077872    9.170413e-01   0.288508
3 DPM1      -0.05502833    8.252662e-01 163.507773
4 SCYL3      0.27370099    1.634953e-01 296.461713
5 C1orf112  -1.62012005    1.070000e-08 199.011986
6 FGR       -5.60936805    1.440000e-18 122.792530

In [24]:
nav.d14.sub.sig.less <- subset(nav.d14.sub, pvalue <= 0.05 & log2FoldChange < 0) # Subsetting by value
nav.d14.sub.sig.more <- subset(nav.d14.sub, pvalue <= 0.05 & log2FoldChange > 0)

In [25]:
nav.d14.sub.sig.all <- rbind(nav.d14.sub.sig.less, nav.d14.sub.sig.more) # Merging rows
dim(nav.d14.sub.sig.less)
dim(nav.d14.sub.sig.more)
dim(nav.d14.sub.sig.all)

[1] 116   4

[1] 73  4

[1] 189   4

#### * Change column names

In [26]:
colnames(nav.d14.sub.sig.all) <- c("gn","fc","pval","bm")
head(nav.d14.sub.sig.all)

   gn       fc         pval         bm
5  C1orf112 -1.6201201 1.070000e-08 199.01199
6  FGR      -5.6093681 1.440000e-18 122.79253
8  FUCA2    -0.7644220 5.400523e-03  72.03849
9  GCLC     -0.6690268 1.563919e-03 232.82360
14 ENPP4    -1.0797584 5.970000e-05 166.51521
22 BAD      -1.0572374 1.526298e-02  17.43336

### 4. Sort data

In [27]:
nav.d14.sub.sig.all.srt <- nav.d14.sub.sig.all[order(nav.d14.sub.sig.all$bm),]
head(nav.d14.sub.sig.all, n=5)
head(nav.d14.sub.sig.all.srt, n=5)

   gn       fc         pval         bm
5  C1orf112 -1.6201201 1.070000e-08 199.01199
6  FGR      -5.6093681 1.440000e-18 122.79253
8  FUCA2    -0.7644220 5.400523e-03  72.03849
9  GCLC     -0.6690268 1.563919e-03 232.82360
14 ENPP4    -1.0797584 5.970000e-05 166.51521

    gn      fc        pval        bm
220 PGLYRP1  1.794950 0.013660222  2.276910
163 UPP2     1.062059 0.042900000  9.993211
253 CD9      1.817403 0.002944941 10.048876
37  DBNDD1   1.824313 0.003734245 10.811359
307 TYROBP  -2.110031 0.001129604 12.701733

### 5. User defined function and apply

In [28]:
# Define a function to evaluate fold change, up-regulation/ down-regulation / no fold change
fcEval <- function(x) {
    if(x>0){
        return("UP")
    }
    else if(x<0){
        return("DOWN")
    }
    else{
        return("NONE")
    }
}

In [29]:
fc.eval.results <- lapply(nav.d14.sub.sig.all$fc,fcEval) # Use lapply to process all the 
fc.eval.results <- factor(unlist(fc.eval.results)) # Convert list to vector
summary(fc.eval.results)

DOWN   UP
 116   73

### 6. Export data

In [37]:
write.table(nav.d14.sub.sig.all.srt,row.names=FALSE, "nav.d14.sub.sig.all.srt.csv", sep=",")

## Homework

### 1. Read both NAV-D14_DEseq2.csv and NAV-MEM-DEseq2.csv into dataframes: df.nav.d14 and df.nav.mem .
#### 1.1 Subset both dataframes to include only "baseMean", "log2FoldChange" and "padj"
#### 1.2 Merge the two dataframes (Change column names so that there are no repetative column names. The base mean in two spreadsheets are the same so delete the extra one.) into a dataframe df.nav.d14.mem.
#### 1.3 Sort the new dataframe on " baseMean".

## 2. For the merged dataframe:
#### 2.1 Define a function to evaluate padj output:
    - padj > 0.05: nonsig
    - padj <= 0.05: sig
#### 2.2 Apply the function to both nav.mem and nav.d14 and create one column to add the evaluation result.

## 3. Install Swirl,  do "R programming" and "Data analysis"
https://swirlstats.com/students.html